@font-face {
    font-family: "Caskaydia Code";
    font-weight: 400;
    src: url('https://raw.githubusercontent.com/kusti8/CaskaydiaCode/main/Caskaydia%20Cove%20Nerd%20Font%20Complete.ttf' format('truetype'));
}
